<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
   <bean id="numberProcesser" class="com.thoughtWork.training.NumberProcesser">
       <constructor-arg>
           <list>
               <ref bean="addNumber"></ref>
               <ref bean="oddFilter"></ref>
           </list>
       </constructor-arg>
   </bean>
    <bean id="addNumber" class="com.thoughtWork.training.addNumber">
        <constructor-arg value="1" />
    </bean>
    <bean id="oddFilter" class="com.thoughtWork.training.oddFilter">
    </bean>
</beans>